@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');


:root {
    --main-color: #202123;
    --green-color: #55BB06;
    --red-color: rgba(255, 55, 36, 0.8);
    --orange-color: #FF9900;
}



body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: var(--main-color);
    -webkit-text-size-adjust: none;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    background: #D7D7D7;
}

button.main-btn {
    border: 1px solid var(--green-color);
    color: #FFF;
    font-weight: 500;
    font-size: 15px;
    border-radius: 4px;
    background: var(--green-color);
}
button.main-btn:hover {
    box-shadow: 0 5px 20px 0 rgba(85,187,6,.4);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
input, textarea, select, button {
    outline: none;
    cursor: pointer;
}
a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}
.container {
    width: 90%;
    margin: auto;
}
@media (min-width:576px){
    .container{
        max-width:540px;
    }
}
@media (min-width:768px){
    .container{
        max-width:720px;
    }
}
@media (min-width:992px){
    .container{
        max-width:960px;
    }
}
@media (min-width:1200px){
    .container{
        max-width:1140px;
    }
}
@media (max-width: 490px) {
    .container {
        width: 95%;
    }
}
.flex {
    display: flex;
    justify-content: space-between;
}